@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

/* MOMENTANEI */
.box-style{
    border: dashed 3px black;
    background-color: green;
}

.box-style2{
    border: dashed 3px black;
    background-color: red
}

.box-style3{
    border: dashed 3px black;
    background-color: rgb(11, 0, 128);
}

/* COMUNI */
hr{
    width: 100%;
}

.font-size-18{
    font-size: 18px;
}

.content{
    width: 100%;
    height: 100%;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container{
   padding: 20px;
}

.content-right{
    justify-content: end;
}

.margin-y-10{
    margin-top: 10px;
}

.margin-y-20{
    margin-top: 20px;
}

.margin-right-10{
    margin-right: 10px;
}

.fa-solid{
    color: #fff;
}

/* Ridimensionamento di tutte le immagini in base al contenitore */
.cover-img{
    width: 100%;
}

/* MAIN, HEADER e SIDEBAR */
/* Altezza dell'intera viewport escludendo il footer */
.main-section{ 
    width: 100%;
    height: calc(100vh - 120px); /* Altera .player-section */
}

/* Affianca tutti gli elementi principali [NO FOOTER] */
.total-content{ 
    display: flex;
    height: 100%;
}

/* Schermata principale escludendo la sidebar */
.main-content{
    width: calc(100% - 250px); /* Altera anche .sidebar */
    height: 100%;
    overflow-y: scroll;
}

/* SIDEBAR */
.sidebar{
    height: 100%;
    width: 250px; /* Altera anche .main-content */
    padding: 15px;
    position: relative;
}

/* Conenitore del logo [SIDEBAR] */
.logo-container{
    width: 80%;
}

.sm-logo{
    display: none;
    width: 100%;
}

/* Gestione di tutte le liste [SIDEBAR] */
.sidebar ul{
    list-style: none;
    line-height: 1.8;
    font-size: 18px;
}

/* Gestione di tutte le icone [SIDEBAR] */
.sidebar-nav li .fa-solid{
    font-size: 25px;
    margin-right: 10px;
}

/* Sezione per la creazione di una nuova playlist [SIDEBAR] */
.playlist-create{
    display: flex;
    align-items: center;
}

/* Grandezza immagine "aggiungi" (contenitore) [SIDEBAR] */
.add-img{
    width: 20%;
}

/* Footer della sidebar [SIDEBAR] */
.sidebar-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
}

/* Icona per il download [SIDEBAR] */
.download-app i{
    font-size: 10px;
    border: #fff solid 1px;
    padding: 3px 4px;
    border-radius: 100px;
}

/* Dettagli profilo (foto profilo e nickname) [SIDEBAR] */
.account-details{
    display: flex;
    align-items: center;
}

/* Foto profilo adattata al contenitore [SIDEBAR] */
.profile-img{
    width: 100%;
}

/* Contenitore della foto profilo [SIDEBAR] */
.profile-img-container{
    margin-top: 10px;
    width: 15%; /* Grandezza foto profilo [SIDEBAR] */
    margin-right: 8px;
    font-size: 18px;
}

/* HEADER */
header{
    height: 100px; /* Altera anche il main (padding-top) */
    width: 100%;
    position: fixed; 
}

/* MAIN */
/* Rimozione del contrasto con l'header */
main{
    padding-top: 100px; /* Se modificato modificare header */
}

/* Menù di navigazione [MAIN] */
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
    line-height: 1.8;
}

.main-nav li{
    margin-right: 20px;
    font-size: 18px;
}

/* Riprodotti di recente [MAIN/COVER] */
.col-cover{
    width: calc(100% / 6 - 20px);
    margin: 20px 20px 20px 0px;
}

/* Stile del testo descrittivo delle cover [MAIN/COVER] */
.cover-detail{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.cover-detail h5{
    font-size: 19px;
}

.cover-detail div{
    color: rgb(92, 92, 92);
}


/* FOOTER */
/* Altezza fissa dell'intero footer [FOOTER] */
.player-section{
    width: 100%;
    height: 120px; /* Altera .main-section */
}

/* Colonne agli estremi del footer [FOOTER] */
.col-25{
    width: 25%;
    display: flex;
    align-items: center;
}

/* Colonna centrale per i comandi di riproduzione [FOOTER] */
.col-50{
    width: 50%;
    height: 75px;
}

/* Comandi di interazione (like, aggiunta alla playlist) [FOOTER] */
.interaction-btn{
    margin-left: 5%;
    display: flex;
    width: 100px;
    height: 40px;
    font-size: 20px;
    align-items: center;
    color: #fff;
}

/* Dettagli dell'audio (titolo audio, nome artista) [FOOTER] */
.details-audio-player{
    margin-left: 10px;
}

/* Contenitore dell'immagine nel player [FOOTER] */
.player-img{
    width: 70px;
    background-color: red;
}

/* Grandezza immagine fissa [FOOTER] */
.player-cover-img{
    width: 70px
}

/* Sezione comandi per l'audio in ascolto [FOOTER] */
.player-cmd{
    height: 60%;
}

/* Sezione barra temporale per l'audio in ascolto [FOOTER] */
.player-time{
    height: 40%;
}

.fa-heart{
    margin-right: 10px;
}

/* Media query */
@media screen and (max-width: 992px) {
/* MAIN */
/* Riprodotti di recente [MAIN/COVER] */
.col-cover{
    width: calc(100% / 4 - 20px);
}

/* FOOTER */
/* Comandi di interazione in colonna(like, aggiunta alla playlist) [FOOTER] */
.interaction-btn{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Riprodotti di recente [MAIN/COVER] */
.fa-heart{
    margin-right: 0px;
    margin-bottom: 10px;
}

}

@media screen and (max-width: 768px) {
    /* MAIN */
    /* le colonne con le copertino si allargano [MAIN] */
    .col-cover{
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 576px) {
    /* COMUNI */
    /* Qualsiasi elemento con questo tag viene eliminato nella versione mobile */
    .sm-hidden{
        display: none;
    }
    
    /* Schermata principale escludendo la sidebar */
    .main-content{
        width: calc(100% - 65px); /* Altera anche .sidebar */
        height: 100%;
        overflow-y: scroll;
    }

    /* SIDEBAR */
    /* Il logo piccolo compare nella versione piccola [SIDEBAR] */
    .sm-logo{
        display: block;
    }

    /* Il contenitore copre l'intera larghezza e centra il contenuto [SIDEBAR] */
    .logo-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }


    /* La larghezza della sidebar è più piccola [SIDEBAR] */
    .sidebar{
        width: 65px; /* Altera anche .main-content */
    }

    /* Footer sidebar centrato [SIDEBAR] */
    .sidebar-footer{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    /* L'immagine profilo viene centrata [SIDEBAR] */
    .profile-img-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
}

